# ignore everything by default
/*

# pack files
!/pack.toml
!/index.toml
!/.gitignore
!/.nojekyll
!/.gitattributes
!/.packwizignore
!/sync.sh

# packwiz-tracked content folders
!/mods/
!/config/
!/defaultconfigs/
!/resourcepacks/
!/shaderpacks/
!/kubejs/
!/scripts/

# only commit packwiz metadata, never raw mod jars
mods/*
!mods/*.pw.toml
